{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/details.css">
    <title>Survey Form</title>
    
</head>
<body>
  <div class="container ">
    </header>
      <form action="/submit" id="survey-form" method="post">
          <div>
            <h2 style="text-align: center;">ENTER YOUR DETAILS</h2>
          </div>
          <div class="form-group">
            <label for="bmi">What is your Age ?</label>
            <input type="number" name="details[0][age]" id="bmi" class="formControl"   required>
          </div>
          <div class="form-group">
            <label for="bmi">What is your Height ?</label>
            <input type="number" name="details[1][height]" id="bmi" class="formControl"   required>
          </div>
          <div class="form-group">
            <label for="bmi">What is your Weight ?</label>
            <input type="number" name="details[2][weight]" id="bmi" class="formControl"   required>
          </div>
          <div class="form-group">
            <label id="quest">What is your Sex ?</label>
            <select name="gender" required id="dropdown" class="formControl">
                <option value disabled selected >Select An Answer</option>
                <option value="student" class="option">Male</option>
                <option value="teacher" class="option">Female</option>
                <option value="teacher" class="option">Others</option>
            </select>
        </div>

            <div class="form-group">
                <label id="quest">What is your Blood Group ?</label>
                <select name="bloodgroup" required id="dropdown" class="formControl">
                    <option value disabled selected >Select An Answer</option>
                    <option value="student" class="option">A</option>
                    <option value="teacher" class="option">B</option>
                    <option value="student" class="option">O</option>
                    <option value="teacher" class="option">AB</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" id="submit" class="btn">Submit</button>
            </div>
        </form>
    </div>
</body>
</html> --}}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/details.css">
    <title>Details Form</title>
    
</head>
<body>
  <div class="container ">
    </header>
      <form action="/submit" id="survey-form" method="post">
          <div>
            <h2 style="text-align: center;">ENTER YOUR DETAILS</h2>
          </div>
          <div class="form-group">
            <label>Enter your Full Name:</label>
            <input type="text" name="fullname" id="bmi" class="formControl"   required>
          </div>
          <div class="form-group">
            <label for="bmi">What is your Age?</label>
            <input type="number" name="age" id="bmi" class="formControl"   required>
          </div>
          <div class="form-group">
            <label for="bmi">What is your Height?(in cm)</label>
            <input type="number" name="height" id="bmi" class="formControl"   required>
          </div>
          <div class="form-group">
            <label for="bmi">What is your Weight?(in Kg)</label>
            <input type="number" name="weight" id="bmi" class="formControl"   required>
          </div>
          <div class="form-group">
            <label id="quest">What is your Sex ?</label>
            <select name="gender" required id="dropdown" class="formControl">
                <option value disabled selected >Select An Answer</option>
                <option class="option" value="Male">Male</option>
                <option class="option" value="Female">Female</option>
                <option class="option" value="Others">Others</option>
            </select>
        </div>

            <div class="form-group">
                <label id="quest">What is your Blood Group ?</label>
                <select name="bloodgroup" required id="dropdown" class="formControl">
                    <option value disabled selected >Select An Answer</option>
                    <option class="option">A</option>
                    <option class="option">B</option>
                    <option class="option">O</option>
                    <option class="option">AB</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" id="submit" class="btn">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>